<p>Hi <%= @resource.name %>,</p>
  
<p>You recently requested a new password.</p>

Please follow the link to complete your password request:
<% url = ENV['FRONTEND_APP_URL'] + '/set_password?Access-Token=' + @token %>
<p><%= link_to 'Change my password', url %></p>

<p>After setting a new password you will be able to review your profile and make edits.</p>
<p>If you don’t want to change your password please ignore this email.</p>

